html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #85e0e0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(255,255,255,.5);
    padding: 3%;
    width: 94%;
    max-width: 600px;
}

label,
input,
textarea {
    display: block;
    font-family: 'Quicksand';
}

label {
    color: #1f7a7a;
    font-weight: bold;
}

input,
textarea {
    height: 3rem;
    padding:.5rem;
    width: 100%;
    margin: .5rem 0 1.5rem;
    border: none;
    border-radius: 4px;
}

input[type=submit] {
    width: 30%;
    margin: 0 auto;
    background-color: #ff9933;
    color: white;
    border: white 2px solid;
    border-radius: 4px;
    padding: .5rem;
    font-weight:bold;
}

textarea {
    height: 8rem;
}
